@font-face {
    font-family: LCDDisplayCapsSSK; /* Гарнитура шрифта */
    src: url("../font/LCDDisplayCapsSSK.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MinecartLCD; /* Гарнитура шрифта */
    src: url("../font/MinecartLCD.ttf"); /* Путь к файлу со шрифтом */
}
/******START PAGE******/
.time{
    color: white;
}

.logIn{
    position: absolute;
    right: 5%;
    color: white;
}
/*****END START PAGE*******/


.header{
    background: black;
    color: black;
    margin-bottom: 2%;
    border-radius:  0 0 40px 40px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Параметры тени */
}

.logo{
    margin: 10px 10px 10px 3%;
    width: 100%;
}

.perent{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.base{
    flex: 1 0 auto;
    width: 95%;
    margin: auto;
}
/*****START FLIGHT BLOCK********/

/*start table flight*/
.tableFlights{
    border-radius:  9px 9px 9px 9px;
    width: 100%;
    font-family: MinecartLCD;
    text-align: center;
}

.tableFlights tbody tr{
    color: yellow;
    border-top: 2px solid #000000 !important;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.tableFlights thead{
    color: #007402;
    cursor: pointer;
}

.tableFlights thead tr th{
    cursor: pointer;
}

.tableFlights td{
    vertical-align: center;
}

.tableTd{
    padding: 10px;
}
/*end table flight*/

/*****END FLIGHT BLOCK********/

.hrBeetwen{
    margin-top: 1%;
    margin-bottom: 1%;
}

/*****START DISPATCHER BLOCK********/
/*****END DISPATCHER BLOCK********/
/*****START DRIVERS BLOCK********/

/*****END DRIVERS BLOCK********/



.foot{
    height: 80px;
    margin-top: 20px;
    background: black;
    flex: 0 0 auto;
}





